# Copy this file to a new file named '.env' and fill in your actual credential string
GEMINI_API_KEY=your_actual_api_key_here
PORT=3500
DB_NAME=agrometeo_db
DB_USER=root
DB_PASSWORD=your_password_here
DB_CONNECTION_STRING=mysql://root:your_password_here@localhost:3306/agrometeo_db
